---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>Teaching Assistant</h2>

<ol>
  <li><strong>Object-Oriented Programming</strong>, College of Computing and Data Science, Nanyang Technological University, Fall 2022.</li>
  <li><strong>Computer Networks</strong>, College of Computing and Data Science, Nanyang Technological University, Spring 2023.</li>
</ol>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
