/* ==========================================================================
    DEFAULT THEME - LIGHT VERSION (al-folio inspired)
    ========================================================================== */
/* Color codes used for the theme */
$primary-color              : #6C3082;
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #6C3082;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.08);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 56px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #ffffff;
    --global-footer-bg-color            : #f8f9fa;
    --global-border-color               : #dee2e6;
    --global-dark-border-color          : #bdc1c4;
    --global-code-background-color      : #f5f5f5;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : #{$dark-gray};
    --global-link-color                 : #{$primary-color};
    --global-link-color-hover           : #8B44A3;
    --global-link-color-visited         : mix(#fff, #{$primary-color}, 15%);
    --global-masthead-link-color        : #212529;
    --global-masthead-link-color-hover  : #{$primary-color};
    --global-text-color                 : #212529;
    --global-text-color-light           : #6c757d;
    --global-thead-color                : #{$lighter-gray};
}
